<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @goal.title %>
</p>

<p>
  <b>Complete by:</b>
  <%= @goal.complete_by %>
</p>

<p>
  <b>Background:</b>
  <%= @goal.background %>
</p>


<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
